/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage/uploads/*
!/public/storage/uploads/.gitkeep
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
/venv
/.venv
/user_data*
__pycache__/
*.pyc
temp_media/
.env
.env.backup
.env.production
config.json
portfolios.json
schedule.json
igbot_backup.sql
seed_*.php
update_*.php
fix_*.php
export_*.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
